{% load static %}


{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'studentloginnav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}

<nav class="student-nav-bar">
    <div class="student-icon-logo">
        <h1 class="SLD-Menu"><i class="fa-solid fa-bars fa-beat"></i>
          <ul class="student-nav-links-dropdown-SLD-Menu">
                <li class="student-nav-links-li"><a href="{% url "studenthomework" student_id %}">Homework</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentasignments" student_id %}">Assignments</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentdailypage" student_id %}">Daily</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentmonthlypage" student_id %}">Monthly</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentyearlypage" student_id %}">Yearly</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentgoalspage" student_id %}">Goals</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentnotespage" student_id %}">Notes</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentcollabarate" student_id %}">Collaborate</a></li>
                <li class="student-nav-links-li"><a href="{% url "studentallgames" student_id  %}">Games</a></li>
          </ul>
          </h1>
        <p><i class="fa-solid fa-graduation-cap study-logo"></i></p>
        
      
        <h1 class="student-learn-daily-logo">Student Learn Daily</h1>
    </div>
    <ul class="student-nav-links">
        <li class="student-nav-links-li"><a href="{% url "studenthomework" student_id %}">Homework</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentasignments" student_id %}">Assignments</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentdailypage" student_id %}">Daily</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentmonthlypage" student_id %}">Monthly</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentyearlypage" student_id %}">Yearly</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentgoalspage" student_id %}">Goals</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentnotespage" student_id %}">Notes</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentcollabarate" student_id %}">Collaborate</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentallgames" student_id  %}">Games</a></li>
    </ul>
    <div class="dropdown-container">
    <p class="dropdown-trigger">Menu</p>
    <ul class="student-nav-links-dropdown">
        <li class="student-nav-links-li"><a href="{% url "studenthomework" student_id %}">Homework</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentasignments" student_id %}">Assignments</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentdailypage" student_id %}">Daily</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentmonthlypage" student_id %}">Monthly</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentyearlypage" student_id %}">Yearly</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentgoalspage" student_id %}">Goals</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentnotespage" student_id %}">Notes</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentcollabarate" student_id %}">Collaborate</a></li>
        <li class="student-nav-links-li"><a href="{% url "studentallgames" student_id  %}">Games</a></li>
    </ul>
    </div>
  
    <h4><a href="{% url "studentlogin" %}">Log out</a></h4>
    <div class="student-reg-log-icon">
        <h5> Welcome <b><i> {{ student_name }} </i></b></h5>
          <p><i class="fa-solid fa-user-graduate student-profile"></i></p>
    </div>
</nav>