
{% load static %}
<!--   *****************************************************************    -->
<!--                        Nav Bar section Start                           -->
<!--   *****************************************************************    -->


{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'studentregloginresetnav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}


<nav class="student-nav-bar">
    <div class="student-icon-logo">
        <h1 class="SLD-Menu"><i class="fa-solid fa-bars fa-beat"></i>
          <ul class="student-nav-links-dropdown-SLD-Menu">
                <li class="student-nav-links-li"><a href="#">Homework</a></li>
                <li class="student-nav-links-li"><a href="#">Assignments</a></li>
                <li class="student-nav-links-li"><a href="#">Daily</a></li>
                <li class="student-nav-links-li"><a href="#">Monthly</a></li>
                <li class="student-nav-links-li"><a href="#">Yearly</a></li>
                <li class="student-nav-links-li"><a href="#">Goals</a></li>
                <li class="student-nav-links-li"><a href="#">Notes</a></li>
                <li class="student-nav-links-li"><a href="#">Collaborate</a></li>
                <li class="student-nav-links-li"><a href="#">Games</a></li>
          </ul>
          </h1>
        <p><i class="fa-solid fa-graduation-cap study-logo"></i></p>
        
      
        <h1 class="student-learn-daily-logo">Student Learn Daily</h1>
    </div>
    <ul class="student-nav-links">
        <li class="student-nav-links-li"><a href="#">Homework</a></li>
        <li class="student-nav-links-li"><a href="#">Assignments</a></li>
        <li class="student-nav-links-li"><a href="#">Daily</a></li>
        <li class="student-nav-links-li"><a href="#">Monthly</a></li>
        <li class="student-nav-links-li"><a href="#">Yearly</a></li>
        <li class="student-nav-links-li"><a href="#">Goals</a></li>
        <li class="student-nav-links-li"><a href="#">Notes</a></li>
        <li class="student-nav-links-li"><a href="#">Collaborate</a></li>
        <li class="student-nav-links-li"><a href="#">Games</a></li>
    </ul>
    <div class="dropdown-container">
    <p class="dropdown-trigger">Menu</p>
    <ul class="student-nav-links-dropdown">
        <li class="student-nav-links-li"><a href="#">Homework</a></li>
        <li class="student-nav-links-li"><a href="#">Assignments</a></li>
        <li class="student-nav-links-li"><a href="#">Daily</a></li>
        <li class="student-nav-links-li"><a href="#">Monthly</a></li>
        <li class="student-nav-links-li"><a href="#">Yearly</a></li>
        <li class="student-nav-links-li"><a href="#">Goals</a></li>
        <li class="student-nav-links-li"><a href="#">Notes</a></li>
        <li class="student-nav-links-li"><a href="#">Collaborate</a></li>
        <li class="student-nav-links-li"><a href="#">Games</a></li>
    </ul>
    </div>
  
  
    <div class="student-reg-log-icon">
          <h6><a href="{% url "Student_Register" %}">Register</a></h6>
          <h6><a href="{% url "studentlogin" %}">Log in</a></h6>
          <h5> Welcome <b><i>Student</i></b></h5>
          <p><i class="fa-solid fa-user-graduate student-profile"></i></p>
    </div>
</nav>

<!--   *****************************************************************    -->
<!--                        Nav Bar section End                             -->
<!--   *****************************************************************    -->