{% extends "studentreglogresetbase.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'studentresetpasswordapp.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock css %}

{% block content %}

<section class="student-Reset-password-section">
    <h2 class="student-Reset-password-heading">Reset Password</h2>
    <div class="student-reset-password-form">
        <form method="post">
            {% csrf_token %}
            <h3 class="student-Reset-password-heading">Reset Your Password</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.non_field_errors }}
            
            <label for="{{ form.email.id_for_label }}">Email ID:</label>
            {{ form.email }}
            
            <label for="{{ form.password.id_for_label }}">New Password:</label>
            {{ form.password }}
            
            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password:</label>
            {{ form.confirm_password }}
            
            <input type="submit" value="Reset Password" class="student-reset-password-button">
        </form>
        <p class="student-pwd-login-redirect">Password reset? <a href="{% url 'studentlogin' %}">Login</a></p>
    </div>
</section>






{% endblock content %}
