.Student-collaboration-section {
    background-color: #CCCCFF;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.student-collaboration-heading {
    text-align: center;
    padding: 3.3rem;
}

.self-messege, .others-message {
    max-width: 100%;
    width: auto;
    border: 0.063rem solid #1F51FF;
    border-radius: 0.3125rem;
    background-color: #C0C0FF;
    text-align: center;
    padding: 0.5rem;
    text-align: justify;
}

.self-messege {
    align-self: flex-end;
    margin-left: auto;
}

.others-message {
    align-self: flex-start;
    margin-right: auto;
}


.message-edit-button {
    width: auto;
    height: auto;
    background-color: #FF5F15;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: 0.1rem solid grey;
    border-radius: 0.1875rem;

}

.message-edit-button:hover {
    color: #FF5F15;
    background-color: white;
}

.message-delete-button {
        width: auto;
        height: auto;
        background-color: #FF0800;
        color: #fff;
        border: 0.1rem solid grey;
        border-radius: 0.1875rem;
        cursor: pointer;
        text-align: center;
        display: inline-block;
    }

.message-delete-button:hover {
        color: #FF0800;
        background-color: white;
    }

.send-messege-input-box {
    width: calc(95% - 100px);
    padding: 0.5rem;
    border: 0.063rem solid #1F51FF;
    border-radius: 0.3125rem;
    margin-right: 0.5rem;
}

.send-messege-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: #4CBB17;
    color: #fff;
    cursor: pointer;
}

.send-messege-button:hover {
        color: #4CBB17;
        background-color: white;
    }


    .button {
        height: auto;
        width:20%;
        font-size:20px;
        padding: 10px 20px;
        background-color: #6F00FF;
        color: #fff;
        border: 0.1rem solid grey;
        border-radius: 0.1875rem;
        cursor: pointer;
        text-align: center;
        margin: 10px auto;
        text-decoration: none; 
        transition: background-color 0.3s, color 0.3s;
    }
    .button:hover {
        color: #6F00FF;
        background-color: white;
    }
    
.message-edit-submit-button {
    border: none;
    border-radius: 0.3125rem;
    background-color: #4CBB17;
    color: #fff;
    cursor: pointer;
}

.message-edit-submit-button:hover {
    color: #4CBB17;
    background-color: white;
}